@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      text-align: center;
    }
    .services-flex-item{
      width:80%;
      height:80vw;
      font-size: 16px;
    }

    .intro{
      height: 500vw;
      text-align: center;
    }
    
    .brief>div{
      font-size: 15px;
    }
    .services-flex-1{
      flex-direction: column;
    }
  }
 
  